<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pleas Verify Email</title>
  </head style="text-align: center;">
  <body>
    <h1>Dear <%= firstName %></h1>
    <p>Click to verify your email</p>
    <button><%= verificationLink %>Verify Now</button>
  </body>
</html>
